{% extends "news/base.html" %}

{% load static %}

{% block title %}Password Reset{% endblock title %}

{% block content %}
    <h1>Parolni Qayta Tiklash</h1>
    <p>Parolni qayta tiklash uchun e-mailingizni kiriting.</p>

    {% if validlink %}
        <p>Iltimos yangi parolni ikki marotaba kiriting.</p>

        <form action="" method="post">{% csrf_token %}
            {{ form.as_p }}

            <p><button type="submit">Parolni o'zgartirish</button></p>
        </form>
    {% else %}
        <p>Siz noto'gri linkdan foydalandingiz. Time out or Used.</p>

    {% endif %}

{% endblock content %}